## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/adamjoy/Desktop/Bootcamp Apps/GITHUB REPOS/World_Weather_Analysis/weather_database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kasane,BW,-17.8167,25.1500,70.81,69,96,4.50,overcast clouds
1,1,Severo-Kurilsk,RU,50.6789,156.1250,25.29,85,51,5.06,broken clouds
2,2,Pevek,RU,69.7008,170.3133,-14.93,89,98,3.13,overcast clouds
3,3,Saint George,US,37.1041,-113.5841,50.63,15,0,21.85,clear sky
4,4,San Quintin,MX,30.4833,-115.9500,59.92,54,47,18.41,scattered clouds

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("Enter the desired minimum temperature for your trip"))
max_temp = float(input("Enter the desired maximum temperature for your trip"))

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kasane,BW,-17.8167,25.1500,70.81,69,96,4.50,overcast clouds
1,1,Severo-Kurilsk,RU,50.6789,156.1250,25.29,85,51,5.06,broken clouds
3,3,Saint George,US,37.1041,-113.5841,50.63,15,0,21.85,clear sky
4,4,San Quintin,MX,30.4833,-115.9500,59.92,54,47,18.41,scattered clouds
5,5,Gazanjyk,TM,39.2446,55.5154,80.46,23,3,12.84,clear sky
6,6,Yichang,CN,30.7144,111.2847,60.58,94,100,1.63,overcast clouds
7,7,Busselton,AU,-33.6500,115.3333,57.02,88,0,9.91,clear sky
8,8,Ostrovnoy,RU,68.0531,39.5131,30.56,86,20,17.09,few clouds
9,9,Berlevag,NO,70.8578,29.0864,30.15,74,75,16.11,broken clouds
10,10,Khargone,IN,21.8167,75.6000,93.52,16,70,7.65,broken clouds

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                3
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kasane,BW,-17.8167,25.1500,70.81,69,96,4.50,overcast clouds
1,1,Severo-Kurilsk,RU,50.6789,156.1250,25.29,85,51,5.06,broken clouds
3,3,Saint George,US,37.1041,-113.5841,50.63,15,0,21.85,clear sky
4,4,San Quintin,MX,30.4833,-115.9500,59.92,54,47,18.41,scattered clouds
5,5,Gazanjyk,TM,39.2446,55.5154,80.46,23,3,12.84,clear sky
...,...,...,...,...,...,...,...,...,...,...
689,689,Carbonia,IT,39.1672,8.5222,61.75,79,80,15.68,broken clouds
690,690,Derzhavinsk,KZ,51.1000,66.3167,47.86,64,98,7.61,overcast clouds
691,691,Ratnagiri,IN,16.9833,73.3000,83.97,69,80,8.19,broken clouds
692,692,Bartica,GY,6.4000,-58.6167,82.72,64,96,5.68,overcast clouds
693,693,Rawson,AR,-43.3002,-65.1023,60.31,31,24,13.82,few clouds

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kasane,BW,70.81,overcast clouds,-17.8167,25.1500,
1,Severo-Kurilsk,RU,25.29,broken clouds,50.6789,156.1250,
3,Saint George,US,50.63,clear sky,37.1041,-113.5841,
4,San Quintin,MX,59.92,scattered clouds,30.4833,-115.9500,
5,Gazanjyk,TM,80.46,clear sky,39.2446,55.5154,
6,Yichang,CN,60.58,overcast clouds,30.7144,111.2847,
7,Busselton,AU,57.02,clear sky,-33.6500,115.3333,
8,Ostrovnoy,RU,30.56,few clouds,68.0531,39.5131,
9,Berlevag,NO,30.15,broken clouds,70.8578,29.0864,
10,Khargone,IN,93.52,broken clouds,21.8167,75.6000,

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [14]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kasane,BW,70.81,overcast clouds,-17.8167,25.1500,The Old House
1,Severo-Kurilsk,RU,25.29,broken clouds,50.6789,156.1250,Kak Doma
3,Saint George,US,50.63,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
4,San Quintin,MX,59.92,scattered clouds,30.4833,-115.9500,Don Eddie's Sport Fishing Center
5,Gazanjyk,TM,80.46,clear sky,39.2446,55.5154,Railway motel

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))